/* Normal sidebar width */
.sidebar {
  width: 250px;           /* adjust to your sidebar width */
  transition: width 0.3s ease;
  top: 56px;
  height: calc(100% - 56px);
  position:fixed;
}

/* When sidebar is toggled */
body.sidebar-toggled .sidebar {
  width: 0;               /* completely hide */
  min-width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

/* Hamburger always visible in topbar */
#sidebarToggleTop {
  z-index: 1001;          /* ensure it sits above everything */
  position: relative;
}

.bg-vividblue {
    background-color: #4255ff;
}